<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review</title>  
    <link rel="stylesheet" href="./css/jass.css" />    
    <link rel="stylesheet" href="./css/style.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"/> 
    <link
    rel="stylesheet"
    href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-light">

    {{!-- <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center fs-4 mb-2 mb-lg-0 mr-5 text-white text-decoration-none">Reel Insights</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="/" class="nav-link px-4 text-white">Home</a>
                    </li>
                    <li>
                        <a href="/" class="nav-link px-4 text-white">About</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary mx-4" data-toggle="modal" data-target="#exampleModal">
                            Contact
                          </button>
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-dark">Send us a message:</p>
                                    <form>
                                          <textarea class="form-control" id="message-text"></textarea>
                                      </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </li>
                </ul>
                    
            </div>
        </div>
    </header> --}}
    
    <main class="container">
        <div class="container" >
            <form id="search-form" action="/search-results" method="get">
                <input type="text" id="title" class="col-12 mt-5 ml-5 mr-5 rounded" placeholder="Enter movie title">
                <button type="submit" class="col-12 ml-5 rounded" justify-content="center">Search</button>
            </form>
            {{!-- <input id="search-bar" class="col-12 mt-5 ml-5 mr-5 rounded" type="text" placeholder="Search for movies"> --}}
        </div>
        <div class="container mt-4">
            <div id="results" class="text-center"></div>
        </div>
        <div class="container mt-5">
            <div class="row mb-4">
                <h4 class=" ml-0 pl-0 col-3">Popular Reviews</h4>
            </div>
            <div>
                <div class="bg-white popular-reviews container mb-3">
                  {{#each reviews as |review|}}

                    <h4 class="row pl-3 pt-3">{{review.title}}</h4>
                    <h5 class="row pl-3 pt-1">{{review.score}}/10</h5> 
                    <p class="row pl-3 pt-3">{{review.content}}</p>

                    <div>
                       <p class="user-signature">-{{user.username}}</p>
                       <button class="mb-3 btn"><i class="fa fa-thumbs-up"></i></button>
                       <button class="mb-3 btn"><i class="fa fa-thumbs-down"></i></button>
                    </div>
                  {{/each}} 
                </div>
                <div class="bg-white popular-reviews container mb-3">
                    <h4 class="row pl-3 pt-3">Movie Name</h4>
                    <h4 class="row pl-3 pt-1">9.2/10</h4>  
                    <h3 class="row pl-3 pt-3">This movie is great!</h4>
                    <p class="row pl-3 pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ullam. Eaque adipisci, quos velit ad quia sit inventore iusto, consectetur iste deleniti alias deserunt laboriosam optio nisi nesciunt aliquam labore.</p>
                    <div>
                       <p class="user-signature">-User 1234</p>
                       <button class="mb-3 btn"><i class="fa fa-thumbs-up"></i></button>
                       <button class="mb-3 btn"><i class="fa fa-thumbs-down"></i></button>
                    </div>
                </div>
                <div class="bg-white popular-reviews container mb-3">
                    <h4 class="row pl-3 pt-3">Movie Name</h4>
                    <h4 class="row pl-3 pt-1">9.2/10</h4>  
                    <h3 class="row pl-3 pt-3">This movie is great!</h4>
                    <p class="row pl-3 pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ullam. Eaque adipisci, quos velit ad quia sit inventore iusto, consectetur iste deleniti alias deserunt laboriosam optio nisi nesciunt aliquam labore.</p>
                    <div>
                       <p class="user-signature">-User 1234</p>
                       <button class="mb-3 btn"><i class="fa fa-thumbs-up"></i></button>
                       <button class="mb-3 btn"><i class="fa fa-thumbs-down"></i></button>
                    </div>
                </div>
                <div class="bg-white popular-reviews container mb-3">
                    <h4 class="row pl-3 pt-3">Movie Name</h4>
                    <h4 class="row pl-3 pt-1">9.2/10</h4>  
                    <h3 class="row pl-3 pt-3">This movie is great!</h4>
                    <p class="row pl-3 pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ullam. Eaque adipisci, quos velit ad quia sit inventore iusto, consectetur iste deleniti alias deserunt laboriosam optio nisi nesciunt aliquam labore.</p>
                    <div>
                       <p class="user-signature">-User 1234</p>
                       <button class="mb-3 btn"><i class="fa fa-thumbs-up"></i></button>
                       <button class="mb-3 btn"><i class="fa fa-thumbs-down"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <script src="/js/home-search.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>